<div *ngIf="(address | async) as addr; else addressNotFound">
  <h1>Address</h1>
  <table>
    <tr mat-row>
      <td mat-cell>Address hash</td>
      <td mat-cell>{{addr.address}}</td>
    </tr>
    <tr mat-row>
      <td mat-cell>Balance</td>
      <td mat-cell>{{addr.balance}}</td>
    </tr>
  </table>
  <div *ngIf="(transactions | async) as txs;">
    <div *ngIf="txs.transactions.length>0">
      <h2>Transactions:</h2>
      <table mat-table>
        <mat-list-item *ngFor="let tx of txs.transactions">
          <tr mat-row>
            <td mat-cell>Transaction hash</td>
            <p>
              <a routerLink="/tx/{{tx.tx_hash}}">{{tx.tx_hash}}</a>
            </p>
          </tr>
          <tr mat-row>
            <td mat-cell>Created at</td>
            <td mat-cell>{{tx.created_at}}</td>
          </tr>
          <tr mat-row>
            <td mat-cell>To</td>
            <td mat-cell>
              <a routerLink="/address/{{tx.to}}">{{tx.to}}</a>
            </td>
          </tr>
          <tr mat-row>
            <td mat-cell>From</td>
            <td mat-cell>
              <a routerLink="/address/{{tx.from}}">{{tx.from}}</a>
            </td>
          </tr>
          <tr mat-row>
            <td mat-cell>Value</td>
            <td mat-cell>{{tx.value}}</td>
          </tr>
        </mat-list-item>
      </table>
    </div>
  </div>
</div>
<ng-template #addressNotFound>
  Address not found.
</ng-template>