<div class="row">
    <div class="col-md-12 offset-md-1">
        <div class="col-sm-5">
            <span class="caption-subject">Transactions in database:</span> {{stats.transactionsDb}} </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption caption-md col-sm-4">
                    <span class="bold">Block</span>
                </div>
                <div class="caption caption-md col-sm-4">
                    <span class="bold">Signer Address</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-med" ng-click="reloadBlocks()">
                            <i class="fa fa-refresh" ng-class="{'fa-spin': blockLoading}"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="todo-tasklist scrollable">
                    <div ng-repeat="t in latest_blocks track by $index" class="block-row row" ng-class="(t.extraData.indexOf('Parity') > -1) ? 'item-border-red': '';(t.extraData.indexOf('Pool') > -1) ? 'item-border-blue': ''">
                        <!--TODO: color by known miners -->
                        <div class="col-sm-4">
                            <span>
                                <i class="fa fa-cube"></i>
                                <a href="/block/{{t.number}}">{{t.number | bigNumber}}</a>
                            </span>
                            <br>
                            <span class="todo-tasklist-date">
                                <i class="fa fa-hourglass-o"></i>{{t.timestamp | timeDuration }} ago</span>
                        </div>
                        <div class="col-sm-4">
                            <div class="todo-tasklist-item-text">
                                by
                                <a href="/addr/{{t.miner}}">{{t.miner}}</a>
                                <br> {{t.transactionsCount}} transactions
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>
</div>
