<div class="row">
    <div class="col-md-12 portlet">
        <div class="portlet-body">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Address</th>
                    <th style="text-align: right">Balance</th>
                    <th style="text-align:right">Supply Owned</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="account in richlist.rankings track by $index">
                        <td>{{account.rank}}</td>
                        <td class="truncate-addrhash"> <a href="/addr/{{account.address}}">{{account.address}}</a></td>
                        <td style="text-align:right">{{account.balance | bigNumber}}</td>
                        <td style="text-align:right">{{account.supplyOwned}}%</td>
                    </tr>
                </tbody>
            </table>
            <footer>
                <button type="button"
                        ng-if="!isMoreDisabled"
                        ng-click="getMore()">More</button>
            </footer>
        </div>
    </div>
</div>
