<h6 class="mb-4">Interact with a Smart Contract on GoChain</h6>
<form [formGroup]="form">
  <div class="form-group">
    <label for="contract-address">Contract Address*:</label>
    <input
        type="text"
        class="form-control"
        id="contract-address"
        placeholder="Contract Address"
        formControlName="contractAddress"
        required
    >
    <span *ngFor="let badge of contractBadges"
          class="badge c--{{badge.type}} m-r--10 m-t--10">{{badge.text}}</span>
  </div>
  <div class="form-group">
    <label for="abi-json">ABI / JSON Interface:</label>
    <textarea
        class="form-control"
        id="abi-json"
        placeholder="ABI / JSON Interface"
        formControlName="contractABI"
        rows="5"
        required
    ></textarea>
    <div class="mt-1">
      or select template:
      <button *ngFor="let value of abiTemplates" (click)="onAbiTemplateClick(value)" type="button"
              class="badge">{{value}}</button>
    </div>
  </div>
  <ng-container *ngIf="contract != null">
    <div class="form-group">
      <label for="contract-function">Choose Contract Function:</label>
      <select
          class="form-control"
          id="contract-function"
          formControlName="contractFunction"
      >
        <optgroup label="Free">
          <ng-container *ngFor="let abiDefinition of abiFunctions; let i = index;">
            <option
                *ngIf="!abiDefinition.payable && abiDefinition.constant"
                [value]="i"
            >
              {{abiDefinition | abiMethod}}
            </option>
          </ng-container>
        </optgroup>
        <optgroup label="Paid">
          <ng-container *ngFor="let abiDefinition of abiFunctions; let i = index;">
            <option
                *ngIf="abiDefinition.payable || !abiDefinition.constant"
                [value]="i"
            >
              {{abiDefinition | abiMethod}}
            </option>
          </ng-container>
        </optgroup>
      </select>
    </div>
    <ng-container *ngIf="selectedFunction">
      <ng-container
          formArrayName="functionParameters"
          *ngFor="let functionInput of selectedFunction.inputs; let i=index"
      >
        <div class="form-group">
          <ng-container
              *ngIf="selectedFunction.name === 'transfer' && functionInput.name === 'value' && addr.token_symbol; else regularFunctionInput">
            <input type="number" class="form-control" placeholder="Amount ({{addr.token_symbol}})"
                   (keyup)="onTokenValueChange($event, i)">
            <input disabled class="form-control" placeholder="Raw amount" formControlName="{{i}}">
          </ng-container>
          <ng-template #regularFunctionInput>
            <input class="form-control" placeholder="{{functionInput.name}}" formControlName="{{i}}">
          </ng-template>
        </div>
      </ng-container>
      <div *ngIf="selectedFunction.payable" class="form-group">
        <input class="form-control" placeholder="Amount" formControlName="contractAmount">
      </div>
      <div *ngIf="!selectedFunction.constant || selectedFunction.payable" class="form-group">
        <label>Gas Limit*:</label>
        <input
            class="form-control"
            placeholder="Gas Limit"
            formControlName="gasLimit"
            type="number"
        >
      </div>
    </ng-container>
  </ng-container>
  <div *ngIf="functionResult">
    <h4>Response</h4>
    <div *ngFor="let k of functionResult">
      {{k[0]}}: <span style="font-weight: bold;">{{k[1]}}</span>
    </div>
  </div>
  <div class="form-group text-right">
    <button class="btn btn-secondary mr-1" type="reset">Reset</button>
    <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!form.valid"
        (submit)="useContract()"
    >
      Deploy
    </button>
  </div>
</form>
