<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/images/logo_fullcolor.svg" alt="Gochain Explorer"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li
            *ngFor="let navItem of navItems"
            class="nav-item"
        >
          <a class="nav-link" [routerLink]="navItem.link" routerLinkActive="active">
            {{navItem.title}}
          </a>
        </li>
      </ul>
    </div>
    <app-search></app-search>
  </div>
</nav>
