<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="MetronicApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="MetronicApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="BlocksApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115867674-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-115867674-3');
    </script>
    <title data-ng-bind="'GoChain | ' + $state.current.data.pageTitle"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="GoChain Block Explorer" name="description" />
    <meta content="Elaine" name="author" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#27223d">
    <meta name="msapplication-TileColor" content="#27223d">
    <meta name="theme-color" content="#ffffff">

    <base href="/">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"
    />
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN DYNAMICALLY LOADED CSS FILES(all plugin and page related styles must be loaded between GLOBAL and THEME css files ) -->
    <link id="ng_load_plugins_before" />
    <!-- END DYNAMICALLY LOADED CSS FILES -->
    <!-- BEGIN THEME STYLES -->
    <link href="/css/components.min.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/css/green-haze.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <!-- END HEAD -->
    <!-- BEGIN BODY -->

    <body ng-controller="MainController" class="page-header-fixed page-on-load" ng-class="{'page-content-white': settings.layout.pageContentWhite,'page-container-bg-solid': settings.layout.pageBodySolid}">
        <!-- BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar">
            <img src="/img/loading.gif">
        </div>
        <!-- END PAGE SPINNER -->
        <!-- BEGIN HEADER -->
        <nav class="page-navbar">
            <ul>
                <li>
                    <a href="/" class="hamburger">
                        <svg viewBox="0 0 58 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-28.000000, -40.000000)" fill="#98B8BA">
                                    <g transform="translate(28.000000, 40.000000)">
                                        <rect id="Rectangle-3" x="0" y="0" width="58" height="8" rx="4"></rect>
                                        <rect id="Rectangle-3-Copy" x="0" y="17" width="58" height="8" rx="4"></rect>
                                        <rect id="Rectangle-3-Copy-2" x="0" y="34" width="58" height="8" rx="4"></rect>
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="/" class="sugar">
                        <svg width="58px" height="49px" viewBox="0 0 58 49" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-28.000000, -139.000000)" fill="#9AD7DA" fill-rule="nonzero">
                                    <g transform="translate(28.000000, 139.000000)">
                                        <path d="M57.5410246,22.8029386 L43.940858,14.5626621 L43.940858,9.4079516 C43.940858,9.09334486 43.7717618,8.79083838 43.5060392,8.633535 L29.4589754,0.127052723 C29.1690962,-0.0423509075 28.8067472,-0.0423509075 28.516868,0.127052723 L14.4698042,8.633535 C14.2040816,8.80293863 14.0349854,9.09334486 14.0349854,9.4079516 L14.0349854,14.5626621 L0.434818825,22.8029386 C0.16909621,22.9723423 0,23.2627485 0,23.5773552 L0,38.593777 C0,38.8962835 0.144939608,39.1745895 0.398583923,39.3439931 L14.4456476,48.8426966 C14.7355269,49.0363008 15.1220325,49.048401 15.42399,48.8668971 L29,40.6508211 L42.57601,48.8668971 C42.7209496,48.951599 42.8779675,49 43.0470637,49 C43.2040816,49 43.3731778,48.951599 43.5181175,48.8668971 L57.5651812,40.3604149 C57.8309038,40.1910112 58,39.900605 58,39.5859983 L58,23.5773552 C57.9758434,23.2627485 57.8067472,22.960242 57.5410246,22.8029386 Z M14.0470637,46.386344 L1.81174511,38.1097666 L1.81174511,25.3439931 L14.0470637,32.5920484 L14.0470637,46.386344 Z M14.9650146,31.031115 L2.53644315,23.662057 L14.059142,16.6923077 L14.059142,24.4364736 C14.0470637,24.7268799 14.1920033,25.0051858 14.4456476,25.1745895 L19.3977509,28.5263613 L14.9650146,31.031115 Z M28.0941274,39.0656871 L15.8588088,46.4710458 L15.8588088,32.6041487 L21.088713,29.6637857 L28.0941274,34.394987 L28.0941274,39.0656871 Z M28.0941274,32.2169404 L15.8588088,23.9524633 L15.8588088,11.0172861 L28.0941274,18.4226448 L28.0941274,32.2169404 Z M28.9879217,16.8496111 L16.6922116,9.4079516 L28.9879217,1.96629213 L41.2836318,9.4079516 L28.9879217,16.8496111 Z M42.1291129,11.0172861 L42.1291129,24.9083838 L29.8937943,32.3137424 L29.8937943,18.4226448 L42.1291129,11.0172861 Z M42.1170346,46.4831461 L29.881716,39.0777874 L29.881716,34.4312878 L29.8937943,34.4312878 L37.0683049,30.0872947 L42.1170346,32.6404494 L42.1170346,46.4831461 Z M42.9987505,31.0432152 L38.9042066,28.9740709 L43.5060392,26.1910112 C43.7717618,26.0216076 43.940858,25.7312014 43.940858,25.4165946 L43.940858,16.6802074 L55.391087,23.613656 L42.9987505,31.0432152 Z M56.1761766,39.0777874 L43.940858,46.4831461 L43.940858,32.5920484 L56.1761766,25.2592913 L56.1761766,39.0777874 Z"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <span>Blocks</span>
                    </a>
                </li>
                <li>
                    <a href="https://wallet.gochain.io/" class="wallet">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                            <g>
                                <circle cx="18" cy="19.5" r="2"/>
                                <path d="M29.001,12.5C29,12.5,29,12.5,29.001,12.5L29,6.5V6V3.5c0-1.657-1.344-3-3-3h-4H5.5 C2.467,0.5,0,2.968,0,6v20c0,3.032,2.467,5.5,5.5,5.5h18c3.032,0,5.5-2.468,5.5-5.5v-1.5c0,0,0,0,0.001,0 C32.999,21.499,32.999,15.501,29.001,12.5z M5.5,2.5H22h4c0.551,0,1,0.448,1,1V6v0.5v3.184C26.686,9.572,26.352,9.5,26,9.5h-0.001 v-1v-2v-2c0-0.553-0.448-1-1-1h-21c-0.552,0-1,0.447-1,1v2v1.943C2.382,7.812,2,6.952,2,6C2,4.067,3.566,2.5,5.5,2.5z M24.999,5.5 h-21v-1h21V5.5z  M24.999,6.5v1h-21v-1H24.999z  M24.999,8.5v1H22H5.5C4.96,9.5,4.456,9.368,4,9.15V8.5H24.999z M27,26 c0,1.933-1.567,3.5-3.5,3.5h-18C3.566,29.5,2,27.933,2,26V10.239C2.951,11.026,4.171,11.5,5.5,11.5H22h4c0.551,0,1,0.448,1,1v2h-9 c-2.762,0-5,2.238-5,5s2.239,5,5,5h9V26z M28.277,22.5H18c-1.654,0-3-1.346-3-3s1.346-3,3-3h9 c0.617-0.008,1.229-0.307,1.602-0.804c0.104-0.14,0.185-0.297,0.25-0.461c0.009-0.022,0.025-0.039,0.033-0.062 C29.604,16.116,30,17.272,30,18.5C30,20.038,29.379,21.465,28.277,22.5z"/>
                            </g>
                        </svg>
                        <span>Wallet</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="page-wrapper">
            <div class="page-wrapper-row">
                <div class="page-wrapper-top">
                    <!-- BEGIN HEADER -->
                    <div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" class="page-header"> </div>
                    <!-- END HEADER -->
                </div>
            </div>
            <div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    <!-- BEGIN CONTAINER -->
                    <div class="page-container">
                        <!-- BEGIN PAGE HEAD -->
                        <div ng-show="!isHome" data-ng-include="'tpl/page-head.html'" data-ng-controller="PageHeadController" class="page-head">
                        </div>
                        <!-- END PAGE HEAD -->
                        <!-- BEGIN PAGE CONTENT -->
                        <div class="page-content">
                            <div class="container">
                                <!-- BEGIN ACTUAL CONTENT -->
                                <div ui-view class="fade-in-up"> </div>
                                <!-- END ACTUAL CONTENT -->
                            </div>
                        </div>
                        <!-- END PAGE CONTENT -->
                    </div>
                    <!-- END CONTAINER -->
                </div>
            </div>
            <div class="page-wrapper-row">
                <div class="page-wrapper-bottom">
                    <!-- BEGIN FOOTER -->
                    <div data-ng-include="'tpl/footer.html'" data-ng-controller="FooterController"> </div>
                    <!-- END FOOTER -->
                </div>
            </div>
        </div>
        <!-- END FOOTER -->
        <!-- BEGIN CORE JQUERY PLUGINS -->
        <script src="/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/plugins/jquery.cokie.min.js" type="text/javascript"></script>
        <script src="/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE JQUERY PLUGINS -->
        <!-- BEGIN CORE ANGULARJS PLUGINS -->
        <script src="/plugins/angularjs/angular.min.js" type="text/javascript"></script>
        <script src="/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
        <script src="/plugins/angularjs/angular-touch.min.js" type="text/javascript"></script>
        <script src="/plugins/angularjs/plugins/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="/plugins/angularjs/plugins/ocLazyLoad.min.js" type="text/javascript"></script>
        <script src="/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
        <!-- END CORE ANGULARJS PLUGINS -->
        <!-- BEGIN APP LEVEL ANGULARJS SCRIPTS -->
        <script src="/js/app.min.js" type="text/javascript"></script>
        <script src="/js/web3utils.js" type="text/javascript"></script>
        <script src="/js/main.js" type="text/javascript"></script>
        <script src="/js/filters.js" type="text/javascript"></script>

        <script src="/js/directives.js" type="text/javascript"></script>
        <!-- END APP LEVEL ANGULARJS SCRIPTS -->
        <!-- BEGIN APP LEVEL JQUERY SCRIPTS -->
        <script src="/js/layout.min.js" type="text/javascript"></script>
        <script src="/plugins/d3.v3.min.js" type="text/javascript"></script>
        <!-- END APP LEVEL JQUERY SCRIPTS -->
        <link id="ng_load_plugins_after" />
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->

</html>
