input[type=text] {
    border-radius: .8rem !important;
    border: 1px solid #000;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #6F9193;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #6F9193;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #6F9193;
}
:-moz-placeholder { /* Firefox 18- */
    color: #6F9193;
}