<div class="wal f f-j--c">
  <div class="card m-t--10">
    <h3 class="center m-b--40 t--upp font-w--500">Account</h3>
    <ng-container *ngIf="account; else error">
      <p class="m-b--30">
        NOTE: Once you leave this page, you cannot recover the address or private key.
      </p>
      <p>Please copy this somewhere safe!</p>
      <p>Private Key</p>
      <pre class="code">{{account.privateKey}}</pre>
      <p>Address</p>
      <pre class="code">{{account.address}}</pre>
      <div class="center m-t--20">
        <button routerLink="/wallet" class="btn btn--sm btn--round">Back</button>
      </div>
    </ng-container>
    <ng-template #error>
      <h3 class="center m-b--40 t--upp font-w--500">An error occurred while processing request. Please try again later.</h3>
    </ng-template>
  </div>
</div>
