<div class="wal f f-j--c">
  <div class="card m-t--60">
    <h3 class="center m-b--40 t--upp font-w--500">Create Account</h3>
    <ng-container *ngIf="!newAccount; else newAccountBlock">
      <div class="center">
        <button class="btn btn--round btn--sm" (click)="createAccount()">Create</button>
        <button routerLink="/wallet" class="btn btn--round btn--sm m-l--20">Back</button>
      </div>
    </ng-container>
    <ng-template #newAccountBlock>
      <p class="m-b--30">
        NOTE: Once you leave this page, you cannot recover the address or private key.
      </p>
      <p>Please copy this somewhere safe!</p>
      <p>Private Key</p>
      <pre class="code">{{newAccount.privateKey}}</pre>
      <p>Address</p>
      <pre class="code">{{newAccount.address}}</pre>
      <div class="center m-t--20">
        <a routerLink="/wallet" class="btn btn--sm btn--round">Back</a>
      </div>
    </ng-template>
  </div>
</div>
