<div class="container">
  <ng-container *ngIf="!!block; else blockNotFound">
    <div class="card">
      <div class="card-body">
        <div class="card-title"><img src="../../../assets/icons/blocks.svg"> Block</div>
        <dl>
          <dt>Block Number</dt>
          <dd>{{block.number}}</dd>
          <dt>Block Hash</dt>
          <dd>{{block.hash}}</dd>
          <dt>Created At</dt>
          <dd>{{block.created_at | date: 'yyyy/MM/dd HH:mm:ss'}} ({{block.created_at | timeAgo}})</dd>
          <dt>Parent block hash</dt>
          <dd><a routerLink="/block/{{block.parent_hash }}">{{block.parent_hash }}</a></dd>
          <dt>Signer</dt>
          <dd><a routerLink="/addr/{{block.miner}}">{{block.miner}}</a></dd>
          <dt>Gas Limit</dt>
          <dd>{{block.gas_limit | bigNumber}}</dd>
          <dt>Gas Used</dt>
          <dd>{{block.gas_used | bigNumber}}</dd>
          <dt>Nonce</dt>
          <dd>{{block.nonce}}</dd>
          <dt>Transactions Count</dt>
          <dd>{{block.tx_count}}</dd>
          <dt>Difficulty</dt>
          <dd>{{block.difficulty}}</dd>
          <dt>Extra Data</dt>
          <dd>{{block.extra.vanity}}</dd>
          <ng-container *ngIf="block.extra.has_vote; else empty">
            <dt>Vote</dt>
            <dd>{{block.extra.auth ? "Add" : "Remove"}} {{block.extra.is_voter_election ? "voter" : "signer"}} {{block.extra.candidate}}</dd>
          </ng-container>
        </dl>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-body">
        <div class="card-title"><img src="../../../assets/icons/blocks.svg"> Transactions</div>
        <ng-container *ngIf="transactions.length; else empty">
          <ng-container *appViewportSize="['small']">
            <div class="data-list">
              <div class="data-list-item" *ngFor="let tx of transactions">
                <div class="data-list-row">
                  <div class="data-list-term">
                    Tx hash:
                  </div>
                  <div class="data-list-desc">
                    <a routerLink="/tx/{{tx.tx_hash}}">{{tx.tx_hash}}</a>
                  </div>
                </div>
                <div class="data-list-row">
                  <div class="data-list-term">
                    Processed:
                  </div>
                  <div class="data-list-desc">
                    {{tx.created_at | date: 'yyyy/MM/dd HH:mm:ss'}} ({{tx.created_at | timeAgo}})
                  </div>
                </div>
                <div class="data-list-row">
                  <div class="data-list-term">
                    From:
                  </div>
                  <div class="data-list-desc">
                    <a routerLink="/addr/{{tx.from}}">{{tx.from}}</a>
                  </div>
                </div>
                <div class="data-list-row">
                  <div class="data-list-term">
                    To:
                  </div>
                  <div class="data-list-desc">
                    <a routerLink="/addr/{{tx.to}}">{{tx.to}}</a>
                  </div>
                </div>
                <div class="data-list-row">
                  <div class="data-list-term">
                    Value (GO):
                  </div>
                  <div class="data-list-desc">
                    {{tx.value | weiToGO: false : true | bigNumber}}
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *appViewportSize="['medium', 'large']">
            <table class="table">
              <thead>
              <tr>
                <th class="w-20">Transaction hash</th>
                <th class="w-20">Processed at</th>
                <th class="w-20">From</th>
                <th class="w-20">To</th>
                <th class="w-20">Value (GO)</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let tx of transactions">
                <td class="text-monospace text-truncate">
                  <a class="ws-p" routerLink="/tx/{{tx.tx_hash}}">{{tx.tx_hash}}</a></td>
                <td class="text-nowrap">
                  {{tx.created_at | date: 'yyyy/MM/dd HH:mm:ss'}} ({{tx.created_at | timeAgo }})
                </td>
                <td class="text-monospace text-truncate">
                  <a class="ws-p" routerLink="/addr/{{tx.from}}">{{tx.from}}</a>
                </td>
                <td class="text-monospace text-truncate">
                  <a class="ws-p" routerLink="/addr/{{tx.to}}">{{tx.to}}</a>
                </td>
                <td>
                  {{tx.value | weiToGO: false : true | bigNumber}}
                </td>
              </tr>
              </tbody>
            </table>
          </ng-container>
          <div class="mt-4">
            <app-pagination [queryParam]="transactionQueryParams"></app-pagination>
          </div>
        </ng-container>
        <ng-template #empty>
          <div class="empty">No transactions</div>
        </ng-template>
      </div>
    </div>
  </ng-container>
  <ng-template #blockNotFound>
    <app-info text="Block not found"></app-info>
  </ng-template>
</div>
