<div class="form-card m-t--60">
  <h4 *ngIf="!hasData">Interact with a Smart Contract on GoChain</h4>
  <form class="uk-form-horizontal" [formGroup]="useContractForm">
    <div *ngIf="!hasData" class="uk-margin">
      <label class="uk-form-label">Contract Address*:</label>
      <div class="uk-form-controls">
        <input class="uk-input" placeholder="Contract Address" formControlName="contractAddress">
        <span *ngFor="let badge of contractBadges"
              class="badge c--{{badge.type}} m-r--10 m-t--10">{{badge.text}}</span>
      </div>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label">ABI / JSON Interface:</label>
      <div class="uk-form-controls">
              <textarea class="uk-textarea" placeholder="ABI / JSON Interface" formControlName="contractABI"
                        rows="5"></textarea>
        <div class="m-t--10">
          or select template:
          <button *ngFor="let value of abiTemplates" (click)="onAbiTemplateClick(value)" type="button"
                  class="badge m-r--10 c--primary">{{value}}</button>
        </div>
      </div>
    </div>
    <ng-container *ngIf="contract != null">
      <div class="uk-margin">
        <label class="uk-form-label">Choose Contract Function (only free functions are available)</label>
        <div class="uk-form-controls">
          <select class="uk-select" formControlName="contractFunction">
            <optgroup label="Free">
              <ng-container *ngFor="let selectableFunction of functions; let index = index;">
                <option *ngIf="!selectableFunction.payable && selectableFunction.constant" [value]="index">
                  {{selectableFunction | abiMethod}}
                </option>
              </ng-container>
            </optgroup>
            <optgroup label="Wallet Required" disabled>
              <ng-container *ngFor="let selectableFunction of functions; let index = index;">
                <option *ngIf="selectableFunction.payable || !selectableFunction.constant" [value]="index">
                  {{selectableFunction | abiMethod}}
                </option>
              </ng-container>
            </optgroup>
          </select>
        </div>
      </div>
      <ng-container *ngIf="selectedFunction">
        <div formArrayName="functionParameters"
             *ngFor="let functionInput of selectedFunction.inputs; let i=index"
             class="uk-margin">
          <div class="uk-form-controls">
            <input class="uk-input" placeholder="{{functionInput.name}}" formControlName="{{i}}">
          </div>
        </div>
        <div *ngIf="selectedFunction.payable" class="uk-margin">
          <div class="uk-form-controls">
            <input class="uk-input" placeholder="Amount" formControlName="contractAmount">
          </div>
        </div>
        <div *ngIf="!selectedFunction.constant || selectedFunction.payable" class="uk-margin">
          <label class="uk-form-label">Gas Limit*:</label>
          <div class="uk-form-controls">
            <input class="uk-input uk-form-width-medium" placeholder="Gas Limit" formControlName="gasLimit"
                   type="number">
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div *ngIf="functionResult">
      <h4>Response</h4>
      <div *ngFor="let k of functionResult">
        {{k[0]}}: <span style="font-weight: bold;">{{k[1]}}</span>
      </div>
    </div>
    <div class="uk-margin ta-r">
      <button routerLink="/wallet" class="btn btn--default m-r--10" type="button">Back</button>
      <button class="btn btn--default m-r--10" type="reset">Reset</button>
      <button *ngIf="useContractForm.controls['contractAddress'].value as addrHash" routerLink="/wallet/send" [queryParams]="{send_tx_tab: 'use_contract',address: addrHash}"
              type="button" class="btn btn--default m-r--10">Use wallet
      </button>
      <button
          class="btn"
          type="submit"
          [disabled]="isProcessing"
          (click)="useContract()"
      >
        <ng-container *ngIf="!isProcessing; else interacting;">
          Submit
        </ng-container>
        <ng-template #interacting>
          Processing <i class="fas fa-spinner fa-spin m-l--10"></i>
        </ng-template>
      </button>
    </div>
  </form>
</div>
