<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <img src="../../../assets/icons/check-square.svg" alt="Signers">
        SIGNERS
      </div>
      <app-tabs name="signers_tab" *ngIf="statsData">
        <tab
            *ngFor="let stat of statsData; let rangeIndex=index"
            [name]="stat.range"
            [title]="stat.range"
        >
          <tab-content>
            <h6 class="text-uppercase text-primary text-center mb-1">{{stat.range}}</h6>
            <div class="chart mb-1">
              <ngx-charts-pie-chart
                  [labels]="true"
                  [doughnut]="true"
                  [gradient]="true"
                  [trimLabels]="true"
                  [arcWidth]="0.618"
                  [scheme]="colorScheme"
                  [results]="stat.chartData"
                  (activate)="onChartItemEnter($event, rangeIndex)"
                  (deactivate)="onChartItemLeave()"
              >
              </ngx-charts-pie-chart>
            </div>
            <div class="my-1">
              <p>
                Block signers for {{stat.block_range.end_block - stat.block_range.start_block}} blocks from
                <a routerLink="/blocks/{{stat.block_range.start_block}}">#{{stat.block_range.start_block}}</a> to <a
                  routerLink="/blocks/{{stat.block_range.end_block}}">#{{stat.block_range.end_block}}</a>.
              </p>
            </div>
            <ng-container *appViewportSize="['small']">
              <div class="data-list">
                <div class="data-list-item" *ngFor="let item of stat.signer_stats">
                  <div class="data-list-row">
                    <div class="data-list-term">
                      Account
                    </div>
                    <div class="data-list-desc text-monospace">
                      <a routerLink="/addr/{{item.signer_address}}">{{item.signer_address}}</a>
                    </div>
                  </div>
                  <ng-container *ngIf="item.data">
                    <div class="data-list-row">
                      <div class="data-list-term">
                        Name
                      </div>
                      <div class="data-list-desc">
                        {{item?.data?.name}}
                      </div>
                    </div>
                    <div class="data-list-row">
                      <div class="data-list-term">
                        Region
                      </div>
                      <div class="data-list-desc">
                        {{item?.data?.region}}
                      </div>
                    </div>
                    <div class="data-list-row">
                      <div class="data-list-term">
                        URL
                      </div>
                      <div class="data-list-desc">
                        <a href="{{item?.data?.url}}" target="_blank">{{item?.data?.url}}</a>
                      </div>
                    </div>
                  </ng-container>
                  <div class="data-list-row">
                    <div class="data-list-term">
                      Blocks
                    </div>
                    <div class="data-list-desc">
                      {{item?.blocks_count}}
                    </div>
                  </div>
                  <div class="data-list-row">
                    <div class="data-list-term">
                      Percent
                    </div>
                    <div class="data-list-desc">
                      {{item?.percent}}
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *appViewportSize="['medium', 'large']">
              <div>
                <div class="table-responsive">
                  <table class="table table-bordered" [svData]="stat.signer_stats" #sv="svDataTable">
                    <thead>
                    <tr>
                      <th>
                        <sv-default-sorter by="data.signer_address">Account</sv-default-sorter>
                      </th>
                      <th>
                        <sv-default-sorter by="data.name">Name</sv-default-sorter>
                      </th>
                      <th>
                        <sv-default-sorter by="data.region">Region</sv-default-sorter>
                      </th>
                      <th>
                        <sv-default-sorter by="data.url">URL</sv-default-sorter>
                      </th>
                      <th class="text-right">
                        <sv-default-sorter by="blocks_count">Blocks</sv-default-sorter>
                      </th>
                      <th class="text-right">
                        <sv-default-sorter by="percent">%</sv-default-sorter>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr
                        *ngFor="let item of sv.data; let itemIndex = index;"
                        [ngClass]="{'table-active': this.hoveredItem && this.hoveredItem.rangeIndex === rangeIndex && this.hoveredItem.itemIndex === itemIndex}"
                    >
                      <td class="text-monospace">
                        <a routerLink="/addr/{{item.signer_address}}">{{item.signer_address}}</a>
                      </td>
                      <td>{{item?.data?.name}}</td>
                      <td>{{item?.data?.region}}</td>
                      <td>
                        <a href="{{item?.data?.url}}" target="_blank">{{item?.data?.url}}</a>
                      </td>
                      <td>{{item?.blocks_count}}</td>
                      <td>{{item?.percent}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </ng-container>
          </tab-content>
        </tab>
      </app-tabs>
    </div>
  </div>
</div>
