app-toggle-switch {
  margin-bottom: 50px;
}

.drawer {
  position: fixed;
  width: 100%;
  top: 70px;
  background: #fff;
  transform: translateY(-120%);
  color: #fff !important;
  z-index: 3;
  transition: .5s;
  min-height: 100vh;

  &--active {
    transform: none;
    .drawer__content {
      width: 65%;
    }
  }

  &__blackout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
  }
}

.icon {
  img, svg {
    height: 30px;
  }
  padding: 15px;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 74px;

  &__item {
    display: block;
    text-align: center;
    padding: 12px 70px;
    margin-bottom: 30px;
    border: none;
    border-radius: 100px;
    font-size: 24px;
    color: #0B0F15;
    -webkit-tap-highlight-color: transparent;

    &--active {
      color: #fff !important;
      background: #06A5FF;
      box-shadow: 0px 8.82353px 17.6471px rgba(6, 165, 255, 0.2);
    }
  }
}

:host-context(body.light) {
  .menu {
    &__item {
      color: #333;
    }
  }
}
:host-context(body.dark) {

  .drawer {
    background: #19212E;
  }

  .menu {
    &__item {
      color: #fff;

      &--active {
        background: #7500f5;
      }
    }
  }
}