<div class="drawer" [ngClass]="{'drawer--active': layoutService.mobileMenuState | async}">
  <div class="menu">
      <app-toggle-switch></app-toggle-switch>
      <ng-container *ngFor="let navItem of navItems">
        <a
            *ngIf="!navItem.external"
            routerLinkActive="menu__item--active"
            [routerLink]="navItem.link"
            class="menu__item"
            (click)="hideMenu()"
        >
          <span class="menu__item__title">
            {{navItem.title}}
          </span>
        </a>
        <a *ngIf="navItem.external"
           class="menu__item"
           href="{{navItem.link}}"
           (click)="hideMenu()"
        >
          <span class="menu__item__title">
            {{navItem.title}}
          </span>
        </a>
      </ng-container>
    </div>
</div>