<ng-container *ngIf="(address | async) as addr; else addressNotFound">
  <h3 class="uk-heading-divider">Address</h3>
  <div class="uk-margin">
    <div class="uk-overflow-auto">
      <table class="uk-table uk-table-small uk-table-small fs-14">
        <tr>
          <td>Address hash</td>
          <td>{{addr.address}}</td>
        </tr>
        <tr>
          <td>Balance</td>
          <td>{{addr.balance_wei | weiToGO | bigNumber}}</td>
        </tr>
        <tr>
          <td>Total transactions</td>
          <td>{{addr.number_of_transactions}}</td>
        </tr>
        <tr *ngIf="addr.contract && addr.go20">
          <td>Total internal transactions</td>
          <td>{{addr.number_of_internal_transactions}}</td>
        </tr>
        <tr *ngIf="addr.contract && addr.go20">
          <td>Total holders</td>
          <td>{{addr.number_of_token_holders}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="uk-margin">
    <app-tabs>
      <tab>
        <tab-title>
          Transactions
        </tab-title>
        <tab-content>
          <ng-container *ngIf="transactions.length; else emptyTransactions">
            <div class="uk-overflow-auto">
              <table class="uk-table uk-table-small uk-table-striped">
                <thead>
                <tr>
                  <th class="uk-width-1-3">Transaction hash</th>
                  <th class="uk-text-nowrap uk-table-shrink">Created at</th>
                  <th class="uk-table-shrink"></th>
                  <th class="uk-width-1-3">Associate</th>
                  <th class="uk-text-nowrap uk-table-shrink">Value (GO)</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tx of transactions">
                  <td class="uk-text-truncate"><a routerLink="/tx/{{tx.tx_hash}}">{{tx.tx_hash}}</a></td>
                  <td class="uk-text-nowrap">
                    {{tx.created_at| date: 'dd/MM/yyyy HH:mm:ss'}} ({{tx.created_at | timeAgo}})
                  </td>
                  <ng-container *ngIf="addr.address === tx.to; else out">
                    <td>
                      <i class="fas fa-arrow-left fa-fw"></i>
                    </td>
                    <td class="uk-text-truncate">
                      <a routerLink="/addr/{{tx.from}}">{{tx.from}}</a>
                    </td>
                  </ng-container>
                  <ng-template #out>
                    <td>
                      <i class="fas fa-arrow-right fa-fw"></i>
                    </td>
                    <td class="uk-text-truncate">
                      <a routerLink="/addr/{{tx.to}}">{{tx.to}}</a>
                    </td>
                  </ng-template>
                  <td class="uk-text-nowrap ta-r ws-p">
                    {{addr.address === tx.to ? '+' : '-'}} {{tx.value | weiToGO: false : true | bigNumber}}
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="uk-margin">
              <ng-template [appInfinityScroll]="transactionScrollState" (onView)="onScroll('transaction')">
                <app-loader></app-loader>
              </ng-template>
            </div>
          </ng-container>
          <ng-template #emptyTransactions>
            <div class="empty">No transactions</div>
          </ng-template>
        </tab-content>
      </tab>
      <tab *ngIf="addr.contract && addr.go20">
        <tab-title>
          Internal Transactions
        </tab-title>
        <tab-content>
          <ng-container *ngIf="internal_transactions.length; else emptyInternal">
            <div class="uk-overflow-auto">
              <table class="uk-table uk-table-small uk-table-striped" style="table-layout: fixed;">
                <thead>
                <tr>
                  <!--<th class="uk-text-nowrap uk-table-shrink">Block</th>-->
                  <th class="uk-width-2-5">Transaction hash</th>
                  <th class="uk-text-nowrap uk-table-shrink">Created at</th>
                  <th class="uk-width-1-6">To</th>
                  <th class="uk-width-1-6">From</th>
                  <th class="uk-table-shrink">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tx of internal_transactions">
                  <!--<td class="uk-text-nowrap"><a routerLink="/block/{{tx.block_number}}">{{tx.block_number}}</a></td>-->
                  <td class="uk-text-truncate"><a routerLink="/tx/{{tx.transaction_hash}}">{{tx.transaction_hash}}</a>
                  </td>
                  <td>{{tx.updated_at| date: 'dd/MM/yyyy HH:mm:ss'}} ({{tx.updated_at | timeAgo }})</td>
                  <td class="uk-text-truncate"><a routerLink="/addr/{{tx.to_address}}">{{tx.to_address}}</a></td>
                  <td class="uk-text-truncate"><a routerLink="/addr/{{tx.from_address}}">{{tx.from_address}}</a></td>
                  <td>{{tx.value | weiToGO | bigNumber}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="uk-margin">
              <ng-template [appInfinityScroll]="internalTransactionScrollState"
                           (onView)="onScroll('internalTransaction')">
                <app-loader></app-loader>
              </ng-template>
            </div>
          </ng-container>
          <ng-template #emptyInternal>
            <p>No internal transactions</p>
          </ng-template>
        </tab-content>
      </tab>
      <tab *ngIf="addr.contract && addr.go20">
        <tab-title>
          Holders
        </tab-title>
        <tab-content>
          <ng-container *ngIf="token_holders.length; else emptyHolders">
            <div class="uk-overflow-auto">
              <table class="uk-table uk-table-small uk-table-striped" style="table-layout: fixed;">
                <thead>
                <tr>
                  <th class="uk-width-1-4">Token holder</th>
                  <th class="uk-width-1-4">Balance</th>
                  <th class="uk-width-1-4">Token name</th>
                  <th class="uk-width-1-4">Token symbol</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let holder of token_holders">
                  <td class="uk-text-truncate">
                    <a routerLink="/addr/{{holder.token_holder_address}}">{{holder.token_holder_address}}</a>
                  </td>
                  <td class="uk-text-truncate">{{holder.balance | weiToGO | bigNumber}}</td>
                  <td class="uk-text-truncate">{{holder.token_name}}</td>
                  <td class="uk-text-truncate">{{holder.token_symbol}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="uk-margin">
              <ng-template [appInfinityScroll]="holderScrollState" (onView)="onScroll('holder')">
                <app-loader></app-loader>
              </ng-template>
            </div>
          </ng-container>
          <ng-template #emptyHolders>
            <p>No holders</p>
          </ng-template>
        </tab-content>
      </tab>
    </app-tabs>
  </div>
</ng-container>
<ng-template #addressNotFound>
  <app-info text="Address not found"></app-info>
</ng-template>