<ng-container *ngIf="richList">
  <h3 class="uk-heading-divider">Richlist</h3>
  <div class="uk-margin">
    <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-table-middle">
      <tr *ngFor="let address of richList.rankings">
        <td><a routerLink="/address/{{address.address}}">{{address.address}}</a></td>
        <td>{{address.balance | weiToGO | bigNumber}}</td>
      </tr>
    </table>
  </div>
</ng-container>
<button type="button" class="uk-button uk-button-default uk-button-small uk-margin" [disabled]="isMoreDisabled"
        (click)="getMore()">More
</button>