<ng-container *ngIf="richList">
  <h3 class="uk-heading-divider">Richlist</h3>
  <div class="uk-margin">
    <div class="uk-overflow-auto">
      <table class="uk-table uk-table-small uk-table-divider uk-table-striped uk-table-middle">
        <thead>
        <tr>
          <th class="uk-text-nowrap">Rank</th>
          <th class="uk-text-nowrap">Address</th>
          <th class="uk-text-nowrap">Balance</th>
          <th class="uk-text-nowrap">Supply owned</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let address of richList.rankings; let rankI = index;">
          <td>{{rankI}}</td>
          <td class="uk-text-nowrap"><a routerLink="/addr/{{address.address}}">{{address.address}}</a></td>
          <td class="uk-text-nowrap">{{address.balance_wei | weiToGO | bigNumber}}</td>
          <td class="uk-text-nowrap">{{address.supplyOwned}}%</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
<div class="center">
  <button type="button" class="uk-button uk-button-default uk-button-small uk-margin" [disabled]="isMoreDisabled"
          (click)="getMore()">More
  </button>
</div>