<div class="tabs">
  <div class="tabs__titles mb-4">
    <ul class="nav nav-tabs">
      <li
          class="nav-item"
          *ngFor="let tab of tabs"
          (click)="onTabSelect(tab)"
      >
        <div
            class="nav-link tab"
            [ngClass]="{'active': tab === activeTab, 'disabled': disabled}"
        >
          <div class="tab__title">
            {{tab.title}}
          </div>
          <div class="tab__desc" *ngIf="tab.description">
            <span [tooltip]="tab.description">
              <img src="../../../assets/icons/info.svg" alt="Description">
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="tabs__content">
    <ng-content></ng-content>
  </div>
</div>
