<div class="wal" [ngClass]="{'wal--sm': balance != null && balance !=''}">
  <div class="f f-j--c p-b--20">
    <div class="card">
      <form [formGroup]="privateKeyForm" (submit)="onPrivateKeySubmit()">
        <div class="uk-margin">
          <label class="uk-form-label">Enter your private key to perform operations.</label>
          <div class="uk-form-controls">
            <!--<div class="uk-inline">
              <span class="uk-form-icon uk-form-icon-flip"><i class="fas fa-eye"></i></span>-->
            <input class="uk-input" type="password" placeholder="Private Key" formControlName="privateKey" autofocus>
            <!--</div>-->
          </div>
        </div>
        <div class="uk-margin" *ngIf="balance == null || balance ==''">
          <div class="center p-b--60">
            <button routerLink="/wallet" type="button" class="btn btn--sm btn--round btn--light m-r--20">Back</button>
            <button type="submit" class="btn btn--sm btn--round">
              <ng-container *ngIf="!isOpening; else opening;">
                Open
              </ng-container>
              <ng-template #opening>
                Opening <i class="fas fa-spinner fa-spin m-l--10"></i>
              </ng-template>
            </button>
          </div>
        </div>
      </form>
      <div class="m-t--20" *ngIf="balance != null && balance !=''">
        <p>Address for key: {{address}}</p>
        <p>Your current balance is: <span style="font-weight: bold; color: greenyellow;">{{balance | number}}</span></p>
        <p><a routerLink="/addr/{{address}}">View address</a></p>
        <div class="center">
          <button type="button" class="btn btn--sm btn--round" (click)="closeWallet()">Close wallet</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-b--60" *ngIf="balance != null && balance !=''">
  <app-tabs name="send_tx_tab" (onChangeEmitter)="onTabChange($event)">
    <tab name="send_go" title="Send GO">
      <tab-content [hidden]="isProcessing">
        <div class="form-card">
          <h5>Perform a regular transaction, send GO to another account</h5>
          <form class="uk-form-horizontal" [formGroup]="sendGoForm">
            <div class="uk-margin">
              <label class="uk-form-label">To*:</label>
              <div class="uk-form-controls">
                <input class="uk-input" type="text" placeholder="To" formControlName="to">
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">Amount*:</label>
              <div class="uk-form-controls">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Amount" formControlName="amount">
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">Gas Limit*:</label>
              <div class="uk-form-controls">
                <input class="uk-input uk-form-width-medium" placeholder="Gas Limit" formControlName="gasLimit"
                       type="number">
              </div>
            </div>
            <div class="uk-margin ta-r">
              <button class="btn btn--default m-r--10" type="reset" [disabled]="isProcessing">Reset</button>
              <button class="btn" type="submit" (click)="sendGo()" [disabled]="isProcessing">Send</button>
            </div>
          </form>
        </div>
      </tab-content>
    </tab>
    <tab name="deploy_contract" title="Deploy Contract">
      <tab-content [hidden]="isProcessing">
        <div class="form-card">
          <h5>Deploy a Smart Contract to GoChain</h5>
          <form class="uk-form-horizontal" [formGroup]="deployContractForm">
            <div class="uk-margin">
              <label class="uk-form-label">Bytecode*:</label>
              <div class="uk-form-controls">
              <textarea class="uk-textarea" rows="5" formControlName="byteCode"
                        placeholder="Bytecode"></textarea>
                <p>Must start with 0x!</p>
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">Gas Limit*:</label>
              <div class="uk-form-controls">
                <input class="uk-input uk-form-width-medium" placeholder="Gas Limit" formControlName="gasLimit"
                       type="number">
              </div>
            </div>
            <div class="uk-margin ta-r">
              <button class="btn btn--default m-r--10" type="reset" [disabled]="isProcessing">Reset</button>
              <button class="btn" type="submit" (click)="deployContract()" [disabled]="isProcessing">Deploy</button>
            </div>
          </form>
        </div>
      </tab-content>
    </tab>
    <tab name="use_contract" title="Use Contract">
      <tab-content [hidden]="isProcessing">
        <div class="form-card">
          <h5>Interact with a Smart Contract on GoChain</h5>
          <form class="uk-form-horizontal" [formGroup]="useContractForm">
            <div class="uk-margin">
              <label class="uk-form-label">Contract Address*:</label>
              <div class="uk-form-controls">
                <input class="uk-input" placeholder="Contract Address" formControlName="contractAddress">
                <span *ngFor="let badge of contractBadges"
                      class="badge c--{{badge.type}} m-r--10 m-t--10">{{badge.text}}</span>
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">ABI / JSON Interface:</label>
              <div class="uk-form-controls">
              <textarea class="uk-textarea" placeholder="ABI / JSON Interface" formControlName="contractABI"
                        rows="5"></textarea>
                <div class="m-t--10">
                  or select template: <button *ngFor="let value of abiTemplates" (click)="onAbiTemplateClick(value)" type="button" class="badge m-r--10 c--primary">{{value}}</button>
                </div>
              </div>
            </div>
            <ng-container *ngIf="contract != null">
              <div class="uk-margin">
                <label class="uk-form-label">Choose Contract Function</label>
                <div class="uk-form-controls">
                  <select class="uk-select" formControlName="contractFunction">
                    <optgroup label="Free">
                      <ng-container *ngFor="let selectableFunction of funcsToSelect(); let index = index;">
                        <option *ngIf="!selectableFunction.payable && selectableFunction.constant" [value]="index">
                          {{selectableFunction | abiMethod}}
                        </option>
                      </ng-container>
                    </optgroup>
                    <optgroup label="Wallet Required">
                      <ng-container *ngFor="let selectableFunction of funcsToSelect(); let index = index;">
                        <option *ngIf="selectableFunction.payable || !selectableFunction.constant" [value]="index">
                          {{selectableFunction | abiMethod}}
                        </option>
                      </ng-container>
                    </optgroup>
                  </select>
                </div>
              </div>
              <ng-container *ngIf="selectedFunction">
                <div formArrayName="functionParameters"
                     *ngFor="let functionInput of selectedFunction.inputs; let i=index"
                     class="uk-margin">
                  <div class="uk-form-controls">
                    <ng-container *ngIf="selectedFunction.name === 'transfer' && functionInput.name === 'value' && addr.token_symbol; else regularFunctionInput">
                      <input type="number" class="uk-input" placeholder="Amount ({{addr.token_symbol}})" (keyup)="onTokenValueChange($event, i)">
                      <input disabled class="uk-input" placeholder="Raw amount" formControlName="{{i}}">
                    </ng-container>
                    <ng-template #regularFunctionInput>
                      <input class="uk-input" placeholder="{{functionInput.name}}" formControlName="{{i}}">
                    </ng-template>
                  </div>
                </div>
                <div *ngIf="selectedFunction.payable" class="uk-margin">
                  <div class="uk-form-controls">
                    <input class="uk-input" placeholder="Amount" formControlName="contractAmount">
                  </div>
                </div>
                <div *ngIf="!selectedFunction.constant || selectedFunction.payable" class="uk-margin">
                  <label class="uk-form-label">Gas Limit*:</label>
                  <div class="uk-form-controls">
                    <input class="uk-input uk-form-width-medium" placeholder="Gas Limit" formControlName="gasLimit"
                           type="number">
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <div *ngIf="functionResult">
              <h4>Response</h4>
              <div *ngFor="let k of functionResult">
                {{k[0]}}: <span style="font-weight: bold;">{{k[1]}}</span>
              </div>
            </div>
            <div class="uk-margin ta-r">
              <button class="btn btn--default m-r--10" type="reset" [disabled]="isProcessing">Reset</button>
              <button class="btn" type="submit" (click)="useContract()" [disabled]="isProcessing">Submit</button>
            </div>
          </form>
        </div>
      </tab-content>
    </tab>
  </app-tabs>
  <ng-container *ngIf="isProcessing">
    <div *ngIf="!receipt; else result;" class="processing">
      <div class="processing__icon">
        <i class="fas fa-spinner fa-spin"></i>
      </div>
      <div class="processing__content">
        Transaction submitted, waiting for receipt...
      </div>
    </div>
    <ng-template #result>
      <div class="receipt">
        <div class="receipt__header">
          Transaction complete!
        </div>
        <div class="receipt__content">
          <ul>
            <li>
              <p>Transaction Hash:</p>
              <b><a routerLink="/tx/{{receipt.transactionHash}}" target="_blank">{{receipt.transactionHash}}</a></b>
            </li>
            <li>
              <p>Block Hash:</p>
              <b><a routerLink="/block/{{receipt.blockHash}}" target="_blank">{{receipt.blockHash}}</a></b>
            </li>
            <li *ngIf="receipt.contractAddress">
              <p>Contract Address:</p>
              <b><a routerLink="/address/{{ receipt.contractAddress}}" target="_blank">{{ receipt.contractAddress }}</a></b>
            </li>
            <li>
              <p>Gas Used:</p>
              <b>{{receipt.gasUsed}}</b>
            </li>
          </ul>
        </div>
        <div class="receipt__footer">
          <button (click)="resetProcessing()" class="btn btn--sm btn--round">Cancel</button>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
