.app-container {
  display: flex;
  margin-top: 64px;
  .app-content {
    flex: 1;
    padding: 15px 20px 0;
    height: calc(100vh - 64px - 15px);
    overflow-y: scroll;

    .loader {
      display: none;
      margin-top: 30vh;
      transition: opacity .8s ease-out;
      text-align: center;
      .loader__content {
        div {
          background: #151721;
          margin: 2px;
          border-radius: 50%;
          height: 10px;
          width: 10px;
          display: inline-block;
          box-sizing: border-box;

          &:nth-of-type(1) {
            animation: flash 0.8s -0.2s linear infinite;
          }
          &:nth-of-type(2) {
            animation: flash 0.8s -0.1s linear infinite;
          }
          &:nth-of-type(3) {
            animation: flash 0.8s linear infinite;
          }
          &:nth-of-type(4) {
            animation: flash 0.8s 0.1s ease-in-out infinite;
          }
        }
      }
    }

    &--loading {
      .loader {
        display: block;
      }
      .content {
        display: none;
      }
    }
  }
}