<div *ngIf="stats$ | async as stats">
  <p>
    Total transactions: {{stats.total_transactions_count}}
  </p>
</div>
<h3 class="uk-heading-divider">Recent Blocks</h3>
<div class="uk-overflow-auto uk-margin">
  <table *ngIf="recentBlocks" class="uk-table uk-table-small uk-table-striped">
    <thead>
    <tr>
      <th class="uk-text-nowrap">Block</th>
      <th class="uk-text-nowrap">Created</th>
      <th class="uk-text-nowrap">Signer Address</th>
      <th class="uk-text-nowrap">Transactions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let b of recentBlocks.blocks">
      <td class="uk-text-nowrap"><i class="fa fa-folder icon"></i> <a routerLink="/block/{{b.number}}">{{b.number}}</a>
      </td>
      <td class="uk-text-truncate">{{b.created_at | timeAgo}}</td>
      <td class="uk-text-truncate"><a routerLink="/addr/{{b.miner}}">{{b.miner}}</a></td>
      <td>{{b.tx_count}}</td>
    </tr>
    </tbody>
  </table>
</div>