@import '../../../assets/styles/mixins.scss';

.main-top {
  &__search {
    padding-top: 60px;

    @include respond-to(small) {
      padding-top: 40px;
    }
  }
}

h1 {
  margin: 0 0 15px;
}

.line-end {
  min-width: 200px;
}

.stat {
  position: relative;
  margin: -110px auto 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: max-content;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    box-shadow: 0 25px 35px rgba(11, 5, 35, 0.2);
    width: 250px;
    height: 200px;
    border-radius: 16px;
    margin-right: 40px;
    text-transform: uppercase;
    color: #000 !important;
    font-weight: 300;
    font-size: 14px;

    &:last-child {
      margin: 0;
    }
  }

  &__item b {
    margin-top: 10px;
    font-size: 36px;
    color: #000 !important;
    display: block;
    font-weight: bold;
  }

  &__updated {
    text-align: center;
    margin-top: 120px;
    font-weight: 300;
    font-size: 16px;

    @include respond-to(small) {
      margin-top: 0;
      margin-bottom: 80px;
    }
  }
}

h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.home {

  &__slider {
    position: relative;
    z-index: 1;
    margin: -70px -10px 0;

    @include respond-to(small) {
      margin-top: -130px;
    }
  }

  &__table {

    span {
      font-size: 14px;
      margin-left: 6px;
      font-weight: bold;
      vertical-align: sub;
    }
  }

  &__table-heading {
    margin: 50px 0;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;

    @include respond-to(small) {
      margin: 20px 0;
    }
  }
}

:host-context(body.dark) {

  .home {

    &__top-block {
      &:before {
        content: none;
      }
    }
  }
  .stat {

    &__item {
      background: #140d28;
      color: #fff !important;
    }

    &__item b {
      color: #02F48E !important;
    }
  }
}
