<h3 class="uk-heading-divider">Recent Blocks</h3>
<div class="uk-margin">
  <table *ngIf="recentBlocks" class="uk-table uk-table-small uk-table-divider uk-table-striped uk-table-middle">
    <tr *ngFor="let b of recentBlocks.blocks">
      <td class="uk-table-shrink">
        <mat-icon mat-list-icon>folder</mat-icon>
      </td>
      <td><a routerLink="/block/{{b.number}}">{{b.number}}</a></td>
      <td>{{b.created_at | timeAgo}}</td>
      <td>{{b.tx_count}} transactions</td>
    </tr>
  </table>
</div>