@import "scss/functions";
@import "scss/variables";
@import "scss/mixins";
@import "scss/root";
@import "scss/reboot";
@import "scss/type";
@import "scss/images";
@import "scss/code";
@import "scss/grid";
@import "scss/tables";
@import "scss/forms";
@import "scss/buttons";
@import "scss/transitions";
/*@import "scss/dropdown";*/
@import "scss/button-group";
@import "scss/input-group";
@import "scss/custom-forms";
@import "scss/nav";
@import "scss/navbar";
@import "scss/card";
/*@import "scss/breadcrumb";*/
@import "scss/pagination";
@import "scss/badge";
/*@import "scss/jumbotron";*/
@import "scss/alert";
/*@import "scss/progress";*/
/*@import "scss/media";*/
//@import "scss/list-group";
@import "scss/close";
/*@import "scss/toasts";*/
/*@import "scss/modal";*/
@import "scss/tooltip";
/*@import "scss/popover";*/
/*@import "scss/carousel";*/
/*@import "scss/spinners";*/
@import "scss/utilities";
@import "scss/data-list";
@import "scss/callout";

.ws {
  &-p {
    white-space: pre !important;
    // font-family: monospace;
  }
}


.code {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  font-size: 13px;
  display: block;
  word-break: break-all;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  line-height: 1.42857;
  color: #333;
}
