<div class="container">
  <ng-container *ngIf="tx; else transactionNotFound">
    <div class="card">
      <div class="card-body">
        <div class="card-title"><img src="../../../assets/icons/tx.svg"> Transaction</div>
        <dl>
          <dt>Transaction hash</dt>
          <dd class="text-monospace">{{tx.tx_hash}}</dd>
          <dt>Status</dt>
          <dd>
            <ng-container *ngIf="tx.block_number ; else pendingTx;">
              <div class="badge {{tx.status ? 'badge-success' : 'badge-danger'}}">
                {{tx.status ? 'Success' : 'Failed'}}
              </div>
            </ng-container>
            <ng-template #pendingTx>
              <div class="badge c--info">
                Pending
              </div>
            </ng-template>
          </dd>
          <ng-container *ngIf="tx.block_number">
            <dt>Block number</dt>
            <dd>
              <a routerLink="/block/{{tx.block_number}}">{{tx.block_number}}</a>
              <div
                  class="badge badge-info ml-1"
                  *ngIf="(recentBlockNumber$ | async) as recentBlockNumber"
              >
                {{recentBlockNumber - tx.block_number}} Block Confirmations
              </div>
            </dd>
          </ng-container>
          <ng-container *ngIf="tx.created_at">
            <dt>Processed at</dt>
            <dd>{{tx.created_at | date: 'yyyy/MM/dd HH:mm:ss'}} </dd>
          </ng-container>
          <ng-container
              *ngIf="tx.contract_address && tx.contract_address !== '0x0000000000000000000000000000000000000000'">
            <dt>Contract address</dt>
            <dd>
              <a class="text-monospace" routerLink="/addr/{{tx.contract_address}}">{{tx.contract_address}}</a>
            </dd>
          </ng-container>
          <dt>From</dt>
          <dd><a class="text-monospace" routerLink="/addr/{{tx.from}}">{{tx.from}}</a></dd>
          <ng-container *ngIf="tx.to">
            <dt>To</dt>
            <dd><a class="text-monospace" routerLink="/addr/{{tx.to}}">{{tx.to}}</a></dd>
          </ng-container>
          <dt>Value</dt>
          <dd>{{tx.value | weiToGO | bigNumber}}</dd>
          <dt>Gas price</dt>
          <dd>{{tx.gas_price| toGwei}}</dd>
          <dt>Gas limit</dt>
          <dd>{{tx.gas_limit | bigNumber}}</dd>
          <ng-container *ngIf="tx.gas_fee">
            <dt>Gas used</dt>
            <dd>{{tx.gas_fee / tx.gas_price | bigNumber}}</dd>
          </ng-container>
          <ng-container *ngIf="tx.gas_fee">
            <dt>Gas fee</dt>
            <dd>{{tx.gas_fee | weiToGO | bigNumber}}</dd>
          </ng-container>
          <dt>Nonce</dt>
          <dd>{{tx.nonce}}</dd>
          <dt></dt>
          <dd></dd>
        </dl>
      </div>
      <div class="card-footer">
        <form>
          <div class="form-group">
            <label for="input_data">Input data</label>
            <div class="btn-group btn-group-sm float-right">
              <ng-container *ngIf="tx.processedInputData != null">
                <button class="btn btn-primary" [ngClass]="{'active': !showInputRaw}" (click)="showInputRaw = false;">Rich</button>
              </ng-container>
              <button class="btn btn-primary" [ngClass]="{'active': showInputRaw && !showUtf8}" (click)="showUtf8 = false; showInputRaw = true;">HEX</button>
              <button class="btn btn-primary" [ngClass]="{'active': showInputRaw && showUtf8}" (click)="showUtf8 = true; showInputRaw = true;">UTF-8</button>
            </div>
            <ng-container *ngIf="showInputRaw; else showInputRich;">
              <textarea
                  class="form-control code mt-2"
                  id="input_data"
                  readonly
                  rows="5"
              >{{tx.input_data | hex2str: showUtf8}}</textarea>
            </ng-container>
            <ng-template #showInputRich>
              <table class="table table-bordered"><tbody><tr><td>
                <b>{{tx.processedInputData?.title}}</b>
                <ng-container *ngIf="tx.processedInputData?.items?.length > 0">
                  <ul>
                    <li *ngFor="let item of tx.processedInputData.items">
                      <ng-container *ngIf="item.name">
                        {{item.name}}:
                      </ng-container>
                      <ng-container *ngIf="item.link; else regularItem">
                        <ng-container *ngIf="item.linkExternal; else linkInternal">
                          <a class="text-monospace" [href]="item.link" target="_blank">
                            {{item.value}}
                          </a>
                        </ng-container>
                        <ng-template #linkInternal>
                          <a class="text-monospace" [routerLink]="item.link">
                            {{item.value}}
                          </a>
                        </ng-template>
                      </ng-container>
                      <ng-template #regularItem>
                        <span class="text-monospace">{{item.value}}</span>
                      </ng-template>
                    </li>
                  </ul>
                </ng-container>
              </td></tr></tbody></table>
            </ng-template>
          </div>
          <div class="form-group">
            <label for="receipt_logs">Receipt Logs</label>
            <div class="btn-group btn-group-sm float-right">
              <button class="btn btn-primary" [ngClass]="{'active': !showLogsRaw}" (click)="showLogsRaw = false">Rich</button>
              <button class="btn btn-primary" [ngClass]="{'active': showLogsRaw}" (click)="showLogsRaw = true">JSON</button>
            </div>
            <div class="mt-2">
              <ng-container *ngIf="!showLogsRaw; else rawLogBlock;">
                <div class="mb-2">
                  <span id="red-box"></span> - removed
                </div>
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th>Index</th>
                    <th>Contract</th>
                    <th>Data</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr
                      *ngFor="let log of tx.processedLogs"
                      [ngClass]="{'table-secondary': log.removed}"
                  >
                    <td>{{log.index}}</td>
                    <td>
                      <a class="text-monospace" routerLink="/addr/{{log.contract_address}}">
                        {{log.contract_address}}
                      </a>
                    </td>
                    <td>
                      <ng-container *ngFor="let data of log.data">
                        <b>{{data.title}}</b>
                        <ul>
                          <li *ngFor="let item of data.items">
                            <ng-container *ngIf="item.name">
                              {{item.name}}:
                            </ng-container>
                            <ng-container *ngIf="item.link; else regularItem">
                              <a class="text-monospace" [routerLink]="item.link">
                                {{item.value}}
                              </a>
                            </ng-container>
                            <ng-template #regularItem>
                              <span class="text-monospace">{{item.value}}</span>
                            </ng-template>
                          </li>
                        </ul>
                      </ng-container>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-container>
              <ng-template #rawLogBlock>
                <textarea
                    class="form-control code"
                    id="receipt_logs"
                    readonly
                    rows="5"
                >{{tx.prettifiedLogs}}</textarea>
              </ng-template>
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
  <ng-template #transactionNotFound>
    <app-info text="Transaction not found."></app-info>
  </ng-template>
</div>
