<div class="wal f f-j--c">
  <div class="card m-t--60">
    <h3 class="center m-b--40 t--upp font-w--500">Getting Started</h3>
    <div class="f f--equal">
      <div>
        <div class="center m-b--40">
          <a class="btn btn--round --def" routerLink="/wallet/create">Create Account</a>
        </div>
        <p class="center">The first thing you need is an account, click Create Account at the top to get started.</p>
      </div>
      <div>
        <div class="center m-b--40">
          <a class="btn btn--round --def" routerLink="/wallet/send">Open Wallet</a>
        </div>
        <p class="center">Use your wallet to send GO, deploy contracts and use contracts/DApps.</p>
      </div>
    </div>
  </div>
</div>
