<div class="container">
  <div class="card f-h">
    <div class="card-body">
      <div class="row justify-content-center align-items-center h-100 mt-5">
        <div class="col-md-6">
          <h4 class="text-center text-primary">
            ENTER YOUR PRIVATE KEY TO PERFORM OPERATIONS
          </h4>
          <form
              class="mt-4"
              [formGroup]="privateKeyForm"
              (submit)="onPrivateKeySubmit()"
          >
            <input
                type="password"
                class="form-control"
                placeholder="Private Key"
                formControlName="privateKey"
                autofocus
                required
                [readOnly]="walletService.isProcessing$ | async"
            >
            <button
                type="submit"
                class="btn btn-primary btn-block mt-4"
                [disabled]="walletService.isProcessing$ | async"
            >
              <ng-container *ngIf="walletService.isProcessing$ | async; else open">
                OPENING...
              </ng-container>
              <ng-template #open>
                OPEN WALLET
              </ng-template>
            </button>
          </form>
          <div class="row mt-4">
            <div class="col-6">
              <button
                  routerLink="create"
                  type="button"
                  class="btn btn-light btn-block"
                  [disabled]="walletService.isProcessing$ | async"
              >
                Create Account
              </button>
            </div>
            <div class="col-6">
              <button
                  routerLink="use"
                  type="button"
                  class="btn btn-light btn-block"
                  [disabled]="walletService.isProcessing$ | async"
              >
                Use Contract
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
