.wallet-menu {
  &__item {
    background: #1F314B;
    box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-right: 40px;
    cursor: pointer;

    &:last-child {
      margin-right: 0px;
    }

    &:hover {
      background: lighten(#1F314B, 15%);
    }

    .item {
      &__icon {
        img {
          height: 65px;
        }
        margin-bottom: 20px;
      }
      &__title {
        font-size: 24px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 20px;
      }
      &__description {
        font-weight: 300;
        color: #fff;
        font-size: 14px;
      }
    }
  }
}

.wallet-intro {
  margin-bottom: 40px;

  img {
    height: 200px;
  }

  &__image {
    min-width: 250px;
    margin-left: 100px;
  }
  &__title {
    font-size: 38px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__desciption {
    font-size: 24px;
    color: #fff;
  }
}

.card {
  width: 900px;
  margin: 0 auto !important;
  display: block;
}
