<div class="card m-t--10 m-b--60">
  <div class="f f-j--sb wallet-intro">
    <div>
      <div class="wallet-intro__title">
        Simple wallet for your gochain
      </div>
      <div class="wallet-intro__description">
        Create wallet for free now!
      </div>
    </div>
    <div class="wallet-intro__image">
      <img src="../../../../assets/images/wallet_image.png" height="300">
    </div>
  </div>
  <div class="f f--equal wallet-menu">
    <div routerLink="/wallet/create" class="wallet-menu__item item">
      <div class="item__icon">
        <img src="../../../../assets/images/create_account.png" alt="Create Account">
      </div>
      <div class="item__title">
        Create Account
      </div>
      <div class="item__description">
        The first thing you need is an account.
      </div>
    </div>
    <div routerLink="/wallet/send" class="wallet-menu__item item">
      <div class="item__icon">
        <img src="../../../../assets/images/open_wallet.png" alt="Open Wallet">
      </div>
      <div class="item__title">
        Open Wallet
      </div>
      <div class="item__description">
        Use your wallet to send GO, deploy contracts and use contracts/DApps.
      </div>
    </div>
    <div routerLink="/wallet/use" class="wallet-menu__item item">
      <div class="item__icon">
        <img src="../../../../assets/images/use_contract.png" alt="Use Contract">
      </div>
      <div class="item__title">
        Use Contract
      </div>
      <div class="item__description">
        Use free functions of contract.
      </div>
    </div>
  </div>
</div>
