<h3 class="uk-heading-bullet">Verify Contract: </h3>
<p>
  Verify and Publish Contract Source Code
</p>
<p>
  Enter Contract Source Code below.
</p>
<p>
  If the compiled bytecode matches the Creation Address bytecode, the contract is then Verified and will be published online.
</p>

<div>
  <p>Unable to Verify Code</p>
  <p>The compiled result does not match the input creation bytecode located at 0x3b23f2485253c98303b8f9154e769345d83051fc.</p>
</div>
<form class="uk-form-horizontal uk-margin-large"  [formGroup]="form" (submit)="onSubmit()">

  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Contract Address</label>
    <div class="uk-form-controls">
      <input class="uk-input" type="text" placeholder="" formControlName="address">
    </div>
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Contract Name</label>
    <div class="uk-form-controls">
      <input class="uk-input" type="text" placeholder="" formControlName="contractName">
    </div>
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-select">Compiler</label>
    <div class="uk-form-controls">
      <select class="uk-select" id="form-horizontal-select" formControlName="compilerVersion">
        <option *ngFor="let compiler of compilers">{{compiler}}</option>
      </select>
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-form-label">Optimization</div>
    <div class="uk-form-controls uk-form-controls-text">
      <label><input class="uk-radio" type="radio" name="optimization" formControlName="optimization" value="true"> Enabled</label><br>
      <label><input class="uk-radio" type="radio" name="optimization" checked formControlName="optimization" value="false"> Disabled</label>
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-form-label">Contract Code</div>
    <div class="uk-form-controls uk-form-controls-text">
      <textarea class="uk-textarea" rows="5" placeholder="" formControlName="sourceCode"></textarea>
    </div>
  </div>
  <div class="uk-margin">
    <div class="uk-form-label">Constructor Arguments ABI-encoded (OPTIONAL - Required for certain contracts only):</div>
    <div class="uk-form-controls uk-form-controls-text">
      <input class="uk-input" id="form-horizontal-text" type="text" placeholder="" formControlName="abi">
    </div>
  </div>
  <div class="uk-margin-large">
    <div class="uk-form-controls">
      <button class="uk-button uk-button-primary" type="submit">Validate Code</button>
      <button class="uk-button" type="reset">Reset</button>
    </div>
  </div>
</form>