@import "../../../assets/styles/mixins";

.search {
  display: flex;

  @include respond-to(small) {
    justify-content: center;
    padding: 0 15px;
  }

  input {
    border: none;
    border-radius: 20px;
    padding: 5px 16px;
    width: 350px;
    max-width: 350px;
    -webkit-appearance: none;
    transition: width .4s ease-in-out;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: .3px;
    font-weight: 400;

    @include respond-to(small) {
      border-radius: 20px 0 0 20px;
      flex: 1;
      max-width: none;
    }

    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }

  button {
    display: none;
    border: none;
    border-left: #666 solid 1px;
    background: #fff;
    padding: 5px 15px;
    border-radius: 0 20px 20px 0;
    font-size: 14px;
    line-height: 24px;
    border-left: #666 solid 1px;


    @include respond-to(small) {
      display: initial;
    }

    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }

    i {
      color: #666 !important;
    }
  }
}

:host-context(body.light) {
  .search {
    input {
      border: #666 solid 1px;
      @include respond-to(small) {
        border-right: none;
      }
    }
    button {
      border: #666 solid 1px;
    }
  }
}