/*
@import "../../../assets/styles/mixins";

.search {
  display: flex;

  svg path {
    fill: #fff;
  }

  input {
    border: none;
    !*padding: 5px 16px;*!
    background: #FFFFFF;
    !*-webkit-appearance: none;*!
    !*transition: width .4s ease-in-out;*!
    !*font-weight: 300;*!
    !*background: #fff;*!
    color: #666;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    !*box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);*!

    font-size: 12px;
    letter-spacing: 0.05em;
    height: 40px;
    padding: 8px 0 8px 16px;
    width: 300px;
    !*!* Disable - 38% *!
    background: rgba(0, 0, 0, 0.38);*!


    &::placeholder {
      color: #666;
    }

    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }

  button {
    border: none;
    !*padding: 5px 15px;*!
    !*font-size: 14px;*!
    !*line-height: 24px;*!
    width: 56px;
    height: 40px;
    cursor: pointer;

    background: #008BCC;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    &:hover {
      background: lighten(#06A5FF, 5%);
    }

    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }
  }
}
*/


input {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0.5rem 0 0.5rem 1rem;
}

button {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 3.5em;
}

form {
  width: 500px;
}
