.search {
  input {
    border: none;
    border-radius: 20px;
    padding: 5px 16px;
    width: 240px;
    max-width: 240px;
    -webkit-appearance: none;
    transition: width .4s ease-in-out;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: .3px;
    font-weight: 400;

    &:focus {
      box-shadow: none;
      border: none;
      outline:none;
    }
  }
}

:host-context(body.light) {
  .search {
    input {
      border: #666 solid 1px;
    }
  }
}