<nav class="topbar bg-gradient" [ngClass]="{'--active': layoutService.mobileSearchState | async}">
  <div class="topbar__main">
    <div class="topbar__menu" (click)="toggleMenu()"
         [ngClass]="{'checked': layoutService.mobileMenuState | async}">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="topbar__icon">
      <a routerLink="/">
        <img *ngIf="logoSrc$ | async as logoSrc" src="../../../assets/images/{{logoSrc}}" alt="Gochain Explorer" />
      </a>
    </div>
    <div class="topbar__search-btn">
      <i class="fas fa-search fa-fw" [ngClass]="{'fa-times': layoutService.mobileSearchState | async}" (click)="toggleSearch()"></i>
    </div>
  </div>
</nav>
<div class="topbar__search" [ngClass]="{'--active': layoutService.mobileSearchState | async}">
  <div>
    <app-search></app-search>
  </div>
</div>
