<!-- BEGIN HEADER TOP -->
<div class="page-header-top">
    <div class="container">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="/">
            <img src="/img/color_logo_transparent.png" alt="logo" class="logo-default" />
        </a>
    </div>
    <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler btn btn-sm green-haze btn-outline">MENU</a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <form name="form.searchForm" class="search-form">
                        <div class="input-group">
                            <input type="text" name="explorerSearch" class="form-control" placeholder="Search by Address / Txhash / BlockNum" ng-model="form.searchInput" ng-keyup="$event.keyCode == 13 ? searchQuery(form.searchInput) : null">
                            <span class="input-group-btn">
                                <a class="btn" ng-click="searchQuery(form.searchInput)">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
                        </div>
                    </form>
                </li>


            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
</div>
<!-- END HEADER TOP -->
</div>
<!-- END HEADER INNER -->
