// atomic modifiers

.center {
  text-align: center;
}

.ta {
  &-r {
    text-align: right !important;
  }
  &-l {
    text-align: left !important;
  }
}

.ws {
  &-p {
    white-space: pre;
    font-family: monospace;
  }
}

.fs {
  &-14 {
    font-size: 14px !important;
  }
}
.m {
  &-r {
    &--10 {
      margin-right: 10px;
    }
    &--20 {
      margin-right: 20px;
    }
  }
  &-l {
    &--10 {
      margin-left: 10px;
    }
    &--20 {
      margin-left: 20px;
    }
  }
  &-t {
    &--10 {
      margin-top: 10px;
    }
    &--20 {
      margin-top: 20px;
    }
    &--40 {
      margin-top: 40px;
    }
    &--60 {
      margin-top: 60px;
    }
  }
  &-b {
    &--10 {
      margin-bottom: 10px;
    }
    &--20 {
      margin-bottom: 20px;
    }

    &--30 {
      margin-bottom: 30px;
    }
    &--40 {
      margin-bottom: 40px;
    }
    &--60 {
      margin-bottom: 40px;
    }
  }
}

.p {
  &--10 {
    padding: 30px;
  }
  &--20 {
    padding: 20px;
  }
  &--30 {
    padding: 30px;
  }
  &-r {
    &--10 {
      padding-right: 10px;
    }
    &--20 {
      padding-right: 20px;
    }
  }
  &-l {
    &--10 {
      padding-left: 10px;
    }
    &--20 {
      padding-left: 20px;
    }
  }
  &-b {
    &--10 {
      padding-bottom: 10px;
    }
    &--20 {
      padding-bottom: 20px;
    }
    &--60 {
      padding-bottom: 60px !important;
    }
  }
  &-t {
    &--10 {
      padding-top: 10px;
    }
    &--20 {
      padding-top: 20px;
    }
    &--60 {
      padding-top: 60px !important;
    }
  }
}


.pull {
  &-r {
    float: right;
  }
}

.f {
  display: flex;
  &--equal {
    & > * {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
  &-a {
    &--c {
      align-items: center;
    }
  }
  &-j {
    &--c {
      justify-content: center;
    }
  }
  &-w {
    &--w {
      flex-wrap: wrap;
    }
  }
}

a {
  &.--def {
    text-decoration: none !important;
  }
}

.t {
  &--cap {
    text-transform: capitalize;
  }
  &--upp {
    text-transform: uppercase;
  }
}

.font {
  &-w {
    &--500 {
      font-weight: 500;
    }
  }
}
