body, input[text], button {
  font-family: 'Roboto', Cambria, Georgia;
}

/* everywhere else */
* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h2, h3 {
  color: #444;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.full-width {
  width: 100%;
}

/* This fills the remaining space, by using flexbox. Every toolbar row uses a flexbox row layout. */
.fill-remaining-space {
  flex: 1 1 auto;
}

body {
  margin: 0;
  font-size: 14px;

  &.dark {
    background: #282a36;
    *:not(a):not(input):not(select):not(option):not(textarea):not(.code) {
      color: #eee !important;
    }

    .bg-gradient {
      background-color: #151721;
      background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#51597e), to(#151721));
      background-image: -webkit-radial-gradient(circle, #51597e, #151721);
      background-image: -moz-radial-gradient(circle, #51597e, #151721);
      background-image: -o-radial-gradient(circle, #51597e, #151721);
      background-image: -ms-radial-gradient(circle, #51597e, #151721);
      background-repeat: no-repeat;
      color: #fff;
    }

    .uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped > tr:nth-of-type(odd) {
      border-top: 1px solid #44475a;
      border-bottom: 1px solid #44475a;
      background: #44475a;
    }
  }
  &.light {
    background: #fff;

    .bg-gradient {
      background-color: #fefefe;
      // background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#e0eafc), to(#cfdef3));
      /*background-image: -webkit-radial-gradient(circle, #ffffff, #f7f7f7);
      background-image: -moz-radial-gradient(circle, #ffffff, #f7f7f7);
      background-image: -o-radial-gradient(circle, #ffffff, #f7f7f7);
      background-image: -ms-radial-gradient(circle, #ffffff, #f7f7f7);
      background-repeat: no-repeat;
      background: -webkit-linear-gradient(to right, #ffffff, #f7f7f7);
      background: linear-gradient(to right, #ffffff, #f7f7f7);*/
      color: #333;
    }
  }
}

.uk-table-small {
  font-size: 12px;

  th {
    font-size: 12px;
  }
}

.center {
  text-align: center;
}

.icon {
  margin-right: 10px;
}

.empty {
  padding: 20px 0;
}

.code {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  font-size: 13px;
  display: block;
  word-break: break-all;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  line-height: 1.42857;
  color: #333;
}

// atomic modifiers
.ta {
  &-r {
    text-align: right !important;
  }
  &-l {
    text-align: left !important;
  }
}
.ws {
  &-p {
    white-space: pre;
    font-family: monospace;
  }
}

.fs {
  &-14 {
    font-size: 14px !important;
  }
}