@import "./mixins";
@import "./atomic";
@import "./buttons";

body, input[text], button {
  font-family: 'Roboto', Cambria, Georgia;
}

/* everywhere else */
* {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: lighter;
  .sm {
    font-size: 0.7em;
  }
}

.full-width {
  width: 100%;
}

/* This fills the remaining space, by using flexbox. Every toolbar row uses a flexbox row layout. */
.fill-remaining-space {
  flex: 1 1 auto;
}

body {
  margin: 0;
  font-size: 14px;

  &.dark {
    background: #2d224d;
    *:not(a):not(input):not(select):not(option):not(textarea):not(.code):not(.switch__icon):not(b) {
      color: #eee !important;
    }

    .uk-link, a {
      color: #02F48E;
    }

    .logo {
      fill: #fff;
      stroke: #fff;
    }

    .bg-gradient {
      background-color: #140d28;
      color: #fff;
    }

    .uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped > tr:nth-of-type(odd) {
      background: #3f2e79;
      border: none;
    }

    .uk-table-striped svg path {
      fill: #fff;
    }

    .tr-card {
      background: #140d28;
    }

    .main-top {
      &:before {
        content: none;
      }
    }

    .list-holder {
      background: #140d28;

      &__footer {
        background: #332563;
        box-shadow: 0px 0px 45px rgba(31, 49, 75, 0.3);

        div {
          b {
            color: #02F48E;
          }
        }
      }

      b {
        color: #02F48E !important;
      }
    }
  }
  &.light {
    background: #fff;

    .uk-link, a {
      color: #06A5FF;
    }

    .logo {
      fill: #333;
      stroke: #333;
    }

    .bg-gradient {
      background-color: #fefefe;
      color: #333;
    }

    .uk-table-striped tbody tr:nth-of-type(odd), .uk-table-striped > tr:nth-of-type(odd) {
      background: #F1F1F1;
      border: none;
    }

    th {
      color: #000;
    }

    .uk-table-striped, svg path {
      fill: #000;
    }
  }
}

.logo {
  stroke-miterlimit: 10;

  .cls-1, .cls-2, .cls-3 {
    stroke-miterlimit: 10;
  }
  .cls-1 {
    stroke-width: 4px;
  }
  .cls-3 {
    stroke-width: 18px;
  }
}

.uk-table-small {
  font-size: 12px;

  th {
    font-size: 12px;
  }
}

.icon {
  margin-right: 10px;
}

.empty {
  padding: 20px 0;
}

.code {
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  font-size: 13px;
  display: block;
  word-break: break-all;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  line-height: 1.42857;
  color: #333;
}

* + .uk-h1, * + .uk-h2, * + .uk-h3, * + .uk-h4, * + .uk-h5, * + .uk-h6, * + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 25px;
}

.w {
  &_1 {
    &_1 {
       width: 100%;
    }
    &_6 {
      width: calc(100% * 1 / 6.001);
    }
  }
  &_2 {
    &_6 {
      width: calc(100% * 2 / 6.001);
    }
  }
}

// media
@include respond-to(small) {
  * + .uk-h1, * + .uk-h2, * + .uk-h3, * + .uk-h4, * + .uk-h5, * + .uk-h6, * + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
    margin-top: 20px;
  }
  .uk-h3, h3 {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  .uk-form-width-small {
    width: 80px;
  }
  .uk-select {
    height: 30px !important;
  }
}

.tr-card {
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 14px;
  background: #F5F5F5;
  color: #0B0F15;
  overflow-x: scroll;

  & > div {
    margin: 0 20px 10px;
    white-space: nowrap;

    a {
      text-decoration: underline;
    }

    div {
      margin-bottom: 5px;

      b {
        margin-left: 8px;
      }
    }
  }
}

.tr-title {
  font-weight: 500;
}

.text-break {
  word-break: break-all;
  white-space: unset;
}

.table {
  &--sm {
    td, th {
      padding: 6px 12px !important;
    }
  }
}

.main-top {
  position: relative;
  background: url("../images/main.png") no-repeat center;
  background-size: cover;
  height: 350px;
  margin: 0 -40px;

  @include respond-to(small) {
    margin: 0 -10px;
    height: 300px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .8);
    z-index: 1;
  }

  &--sm {
    @include respond-to(small) {
      height: 200px;
    }

    &__search {
      @include respond-to(small) {
        padding-top: 20px;
      }
    }
  }

  &__search {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding-top: 100px;
    max-width: 660px;
    width: 100%;

    @include respond-to(small) {
      width: 95%;
      padding-top: 40px;
    }

    h1 {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: bold;
      color: #0B0F15;
      text-align: center;
      @include respond-to(small) {
        font-size: 25px;
      }
    }
  }
}

.list-holder {
  overflow: auto;
  position: relative;
  z-index: 2;
  background: #FDFDFD;
  max-width: 900px;
  margin: -80px auto 0;
  box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.1);

  a {
    text-decoration: underline;
  }

  @include respond-to(small) {
    margin-top: -110px;
  }

  & > ul, > div {
    padding: 30px;
    margin-bottom: 0;

    @include respond-to(small) {
      padding: 20px 0;
    }

    li {
      display: block;
      margin-bottom: 15px;

      @include respond-to(small) {
        margin: 0 20px 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      padding: 0;
      display: flex;
      margin-bottom: -15px;

      @include respond-to(small) {
        flex-direction: column;
        margin-bottom: 0;
      }

      li {
        width: 33.3%;

        @include respond-to(small) {
          width: 100%;
          margin: 0 0 15px;
        }
      }
    }
  }

  p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
  }

  b {
    color: #06A5FF;
    font-size: 16px;
  }

  &__footer {
    overflow: auto;
    background: #fff;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);

    div {
      padding: 30px;

      b {
        font-size: 21px;
        color: #06A5FF;
      }
    }
  }
}
