<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <img src="../../../assets/icons/check-square.svg" alt="Verify Contract">
        Contract Verification
      </div>
      <p>
        Verify and Publish Contract Source Code
      </p>
      <p>
        If the compiled bytecode matches the Creation Address bytecode, the contract is then Verified and will be
        published
        online. (to build a contract you should either use
        <a href="https://github.com/gochain-io/web3#build-a-smart-contract">web3 tool</a> or set the version of the solc
        compiler in the contract source header using a 'pragma solidity' tag)
      </p>
      <form [formGroup]="form" (submit)="onSubmit()">
        <div class="form-group">
          <label for="contarct-address">Contract Address*</label>
          <input
              type="text"
              class="form-control"
              id="contarct-address"
              placeholder="Contract Address"
              formControlName="address"
          >
        </div>
        <div class="form-group">
          <label for="contract-name">Contract Name* (must match a contract from the source)</label>
          <input
              type="text"
              class="form-control"
              id="contract-name"
              placeholder="Contract Name"
              formControlName="contract_name"
          >
        </div>
        <div class="form-group">
          <label for="compiler">Compiler*</label>
          <select
              *ngIf="compilers$ | async as compilers"
              class="form-control"
              id="compiler"
              formControlName="compiler_version">
            <option value="" disabled selected>Select compiler</option>
            <option *ngFor="let compiler of compilers">{{compiler}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="evm">EVM</label>
          <select
              class="form-control"
              id="evm"
              formControlName="evm_version">
            <option value="" selected>Default</option>
            <option value="homestead">Homestead</option>
            <option value="tangerineWhistle">Tangerine Whistle</option>
            <option value="spuriousDragon">Spurious Dragon</option>
            <option value="byzantium">Byzantium</option>
            <option value="constantinople">Constantinople</option>
            <option value="petersburg">Petersburg</option>
            <option value="istanbul">Istanbul</option>
          </select>
        </div>
        <div class="form-group form-check">
          <input
              type="checkbox"
              class="form-check-input"
              id="optimization"
              [value]="true"
              formControlName="optimization"
          >
          <label class="form-check-label" for="optimization">Optimization*</label>
        </div>
        <div class="form-group">
          <label for="contract-code">Contract Code*</label>
          <textarea
              class="form-control"
              id="contract-code"
              rows="9"
              formControlName="source_code"
          >
          </textarea>
        </div>
        <!--<div appRecaptcha key="{{recaptchaPublicKey}}" actionName="contractVerification"
             formControlName="recaptcha_token"></div>-->
        <button type="submit" class="btn btn-primary">Verify Contract</button>
      </form>
    </div>
  </div>
</div>
