<ng-container *ngIf="tokens.length; else emptyTokens">
  <ng-container *appViewportSize="['small']">
    <div class="data-list">
      <div class="data-list-item" *ngFor="let token of tokens">
        <div class="data-list-row">
          <div class="data-list-term">
            Balance:
          </div>
          <div class="data-list-desc">
            {{token.balanceDec()}} {{token.token_symbol}}
          </div>
        </div>
        <div class="data-list-row">
          <div class="data-list-term">
            Token name:
          </div>
          <div class="data-list-desc">
            {{token.token_name}}
          </div>
        </div>
        <div class="data-list-row">
          <div class="data-list-term">
            Contract:
          </div>
          <div class="data-list-desc">
            <a routerLink="/addr/{{token.contract_address}}">{{token.contract_address}}</a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *appViewportSize="['medium', 'large']">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="w-20 text-nowrap">Balance</th>
          <th class="w-20">Balance (raw)</th>
          <th class="w-20 text-nowrap">Token name</th>
          <th class="w-20">Contract</th>
          <th class="w-20 text-nowrap">Updated at</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let token of tokens">
          <td class="text-nowrap">{{token.balanceDec()}} {{token.token_symbol}}</td>
          <td class="text-nowrap">{{token.balance}}</td>
          <td class="text-truncate">{{token.token_name}}</td>
          <td class="text-truncate text-monospace">
            <a class="ws-p" routerLink="/addr/{{token.contract_address}}">{{token.contract_address}}</a>
          </td>
          <td class="text-truncate">
            {{token.updated_at | date: 'yyyy/MM/dd HH:mm:ss'}} ({{token.updated_at | timeAgo }})
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <div class="mt-4" *ngIf="showPagination">
    <app-pagination [queryParam]="tokensQueryParams"></app-pagination>
  </div>
</ng-container>
<ng-template #emptyTokens>
  <div class="empty">No tokens</div>
</ng-template>