@import '../../../assets/styles/mixins';

h3 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.tabs {
  &__titles {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 60px auto;
    -webkit-tap-highlight-color: transparent;

    @include respond-to(small) {
      margin: 30px 0 40px;
    }
  }

  &__content {
    padding-bottom: 40px;
  }

  &__title {
    text-align: center;
    padding: 15px 40px;
    text-transform: uppercase;
    transition: color .1s ease-in-out;
    user-select: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);

    @include respond-to(small) {
      font-size: 12px;
      padding: 15px 10px;
    }

    &:first-child {
      border-radius: 100px 0 0 100px;
    }

    &:last-child {
      border-radius: 0 100px 100px 0;
    }

    &--active {
      color: #fff;
      background: #06A5FF;
    }
  }
}

.single {
  @include respond-to(small) {
    padding: 15px 40px;
  }
}

:host-context(body.dark) {
  .tabs {
    &__title {
      background: #1e1340;
      &--active {
        background: #140d28;
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
      }
    }
  }
}