<div class="container">
  <div class="card f-h">
    <div class="card-body">
      <div class="row justify-content-center h-100 mt-5">
        <div class="col-md-6">
          <h4 class="text-center text-primary text-uppercase">
            Please enter your private key to proceed
          </h4>
          <form
              class="mt-4"
              [formGroup]="privateKeyForm"
              (submit)="onPrivateKeySubmit()"
          >
            <div class="input-group">
              <input
                  [type]="passwordField.type"
                  class="form-control"
                  placeholder="Private Key"
                  formControlName="privateKey"
                  autofocus
                  required
                  [readOnly]="walletService.isProcessing"
              >
              <div class="input-group-append">
                <button
                    class="btn btn-outline-secondary"
                    type="button"
                    (click)="passwordField.toggle()"
                >
                  <img
                      src="../../../../assets/icons/{{passwordField.icon}}"
                      height="14px"
                      [alt]="passwordField.alt"
                  >
                </button>
              </div>
            </div>
            <button
                type="submit"
                class="btn btn-primary btn-block mt-4"
                [disabled]="walletService.isProcessing"
            >
              <ng-container *ngIf="walletService.isProcessing; else open">
                OPENING <img src="../../../assets/icons/loader.svg" alt="Opening">
              </ng-container>
              <ng-template #open>
                OPEN WALLET
              </ng-template>
            </button>
          </form>
          <div class="row mt-4">
            <div class="col-12">
              <button
                  routerLink="create"
                  type="button"
                  class="btn btn-outline-primary btn-block"
                  [disabled]="walletService.isProcessing"
              >
                Create Account
              </button>
            </div>
            <!--<div class="col-6">
              <button
                  routerLink="use"
                  type="button"
                  class="btn btn-light btn-block"
                  [disabled]="walletService.isProcessing"
              >
                Use Contract
              </button>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
